/* >>> GENERAL STYLES <<< */
.fa-stack .fa-circle {
    color: #0141E1;
}
.icon-section:hover .fa-circle, .fa-stack:hover .fa-circle {
    color: #E33FC4;
}

.container-half {
    max-width: 512px;
}

.argento-slider .block-content {
    background-color: transparent;
}

.jumbotron .block .block-title {
    background-image: none;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
.slick-slider .slick-slide {
    padding: 10px 0;
}
.slick-slide img {
    margin: 0 auto;
}
.slick.light .slick-arrow::before {
    color: #FFF;
}

.price-box {
    position: relative;
}
.price-box::before,
.price-box::after {
    content: ' ';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px -6px 15px -10px rgba(0,0,0,0.9);
    z-index: -1;
}
.price-box::after {
    bottom: 0;
    box-shadow: 0px 6px 15px -10px rgba(0,0,0,0.9);
}
.price-box p,
.price-box .regular-price {
    line-height: 1.8em;
}

/* >>> HEADER <<< */
.top-toolbar-container {
    background-color: #F6C9F0;
}

.top-toolbar {
    color: #000;
    padding: 5px;
}

.top-toolbar .links a {
    background-image: none !important;
    color: #000;
}

.top-toolbar .quick-links {
    display: flex;
    float: none;
}
.top-toolbar .quick-links .fa-stack {
    vertical-align: bottom;
}
.top-toolbar .quick-links .fa-stack .fa-stack-1x {
    font-size: 12px;
}

.top-toolbar .links li {
    float: none;
}

.top-toolbar .quick-links .links {
    flex: 1;
    order: 3;
}

.top-toolbar .quick-links .contacts {
    flex: 1;
    order: 1;
    text-align: left;
}
.top-toolbar .quick-links .contacts li {
    display: inline;
}

.top-toolbar .quick-links .contacts li.phone {
    color: #E33FC4;
}

.top-toolbar .quick-links .welcome-msg {
    flex: 2;
    text-align: center;
    order: 2;
}

.header {
    position: relative;
}

.logo-wrapper {
    float: left;
}

.top-wrapper {
    float: right;
}

.header-container .form-search #search {
    border: 1px #0141E1 solid;
    border-radius: 2px;
    font-family: "Noto Sans", sans-serif;
}

.header-container .form-search button {
    float: none;
    margin-left: -30px;
    color: #0141E1;
}

.header-container .header-cart {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.top-cart-links {
    display: flex;
    flex-direction: row-reverse;
}

.top-cart-links li {
    background-image: none;
}

.top-cart-links li a {
    font-size: 13px;
    margin: 0;
    color: #000;
}

.top-cart-links li.top-checkout {
    font-weight: bold;
    margin-left: 30px;
}

.top-cart-links li.top-checkout a {
    color: #E33FC4;
}

.top-cart-links li.top-cart {
    display: flex;
    flex-direction: row-reverse;
}

.header-cart .top-cart .amount {
    background: url('../images/basket.png') no-repeat 0 0;
    color: transparent;
    margin-top: -6px;
    margin-right: 5px;
    padding: 5px;
}


.header-content.is_stuck {
    background-color: rgba(1, 65, 225, .8) !important;
}

@media (min-width: 769px) {
    #search_mini_form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .header-content {
        background-color: #0141E1;
    }

    .nav-container .navpro a.level-top,
    .nav-container .navpro div.level-top a,
    .nav-container .navpro .active div.level-top a,
    .nav-container .navpro .active a.level-top {
        color: #FFF;
    }

    .level-top:not(.over) > .nav-toggler {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAWlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9jZLFEAAAAHXRSTlMAAQJydHZ3eHmAgYKDhIWGh4iMjo+QkZKTlJWWl4kf2AsAAACcSURBVHja7da7DsIwDIXhmFJS6J3eC37/10SqDGMlfCJ58dn/b/CSBJ/Pd7qiJ6iPzB0i3JghIedjrVp4MijQAAujCI2hMIlQGwozLCwiVIbCKkKpFjZY2JMJD7Xw+gpBuctbhDsuwIBRDx6Rfj1hfWnU74n6Stlvifpa2a/G/SJ9Y9TP4OM6gX3I9L3sygx+knLp9Ys9BZ/P98c+vNUhkUAxt+IAAAAASUVORK5CYII=);
    }
}

/* >>> FOOTER <<< */
.footer-container,
.footer-cms-container {
    border: 0;
    background-color: #0141E1;
}
.footer,
.footer-cms-container,
.footer-cms-container a {
    color: #FFF;
}
.footer-cms-container.pinky button.button span {
    border-color: #0141E1;
    background-color: #0141E1;
    border-radius: 3px;
    border-width: 2px;
}
.footer-cms-container button.button:hover span {
    color: #0141E1;
    border-color: #0141E1;
    background-color: #F6C9F0;
}
.footer-cms-container .block-subscribe {
    margin: 0;
}
.footer-cms-container .block-subscribe .block-title {
    display: none;
}
.footer-cms-container .block-subscribe .block-content {
    display: flex;
    align-items: center;
}
.footer-cms-container .block-subscribe .block-content > * {
    flex: 1;
}
.footer-cms-container .block-subscribe .form-subscribe-header {
    display: none;
    color: #FFF;
    font-size: 16px;
}
.footer-cms-container .block-subscribe #newsletter {
    line-height: 30px;
    padding: 0;
    text-indent: 7px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 2px;
}
.footer-cms-container .block-subscribe .actions {
    text-align: center;
}
.footer-cms {
    background-image: none;
}
.footer-cms .block-title {
    margin-bottom: 10px;
}
.footer-cms .block-title span {
    color: #FFF;
}
.footer-cms .block-information {
    margin: 20px 0;
}
.footer-cms .block-information li {
    float: none;
    width: auto;
}
@media (min-width: 769px ), (max-width: 480px) {
    .footer-cms-container .block-subscribe .block-content .input-box {
        flex: 2;
    }
}
@media (min-width: 481px) {
    .footer-cms-container .block-subscribe .form-subscribe-header {
        display: block;
    }
}

/* HOMEPAGE */
.block-services.argento-slider a.slick-slide {
    text-decoration: none;
}
.block-services.argento-slider .slick-slide img {
    margin-bottom: 10px;
}
.block-services.argento-slider .slick-slide span {
    color: #FFF;
}
.jumbotron.sliced {
    display: flex;
    flex-direction: column;
}
.jumbotron.sliced .container-half {
    margin: 0 auto;
}
.pinky {
    background-color: #E33FC4;
    padding: 0;
}
.pinky .slice-2 {
    background-color: #F6C9F0;
}

.grayish {
    background-color: #F3F3F3;
    padding: 0;
}


@media (min-width: 769px) {
    .jumbotron.sliced {
        flex-direction: row;
    }
    .jumbotron.sliced .slice-1,
    .jumbotron.sliced .slice-2 {
        flex: 1;
    }
    .jumbotron.sliced .slice-1 .container-half {
        margin-right: 0;
    }
    .jumbotron.sliced .slice-2 .container-half {
        margin-left: 0;
    }
}

@media (min-width: 481px) {
    .homepage-banners-grayish .easybanner-placeholder-wrapper {
        display: flex;
    }

    .homepage-banners-grayish .easybanner-banner:nth-child(2) {
        position: relative;
    }

    .homepage-banners-grayish .easybanner-banner:nth-child(2)::before {
        position: absolute;
        content: ' ';
        background-color: #EAEAEA;
        height: 70%;
        width: 2px;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cms-index-index .easytabs-ul-wrapper {
    text-align: center;
}
.cms-index-index .easytabs li .easytabs-a,
.cms-index-index .easytabs li:hover .easytabs-a {
    border-radius: 5px;
    border: 2px solid #E33FC4;
    color: #E33FC4;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: none;
}
.cms-index-index .easytabs li.active .easytabs-a,
.cms-index-index .easytabs li:hover.active .easytabs-a {
    background-color: #E33FC4;
    padding: 5px 20px;
}
.cms-index-index .block-highlight .page-link a {
    border-color: #0141E1;
    background-color: #0141E1;
    border-radius: 3px;
    border-width: 2px;
    color: #FFF;
    font-weight: bold;
}
.cms-index-index .block-highlight .page-link a:hover {
    color: #0141E1;
    border-color: #0141E1;
    border-width: 2px;
    background-color: #F6C9F0;
}
